.home {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  margin-top: 10%;
}

h2 {
  font-size: 40px;
  padding: 10px;
}

p {
  font-size: 28px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 22px;
  }
}
