* {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.NavBarContainer {
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  background-color: azure;
  justify-content: space-between;
  border-radius: 10px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-right: 20px;
}

.Navbar {
  display: flex;
  gap: 30px;
  align-items: center;
}

.NavBarLinks {
  font-size: 17px;
  text-decoration: none;
  color: #551a8b;
}

.NavBarLinks:hover {
  color: #00e;
  font-size: 24px;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .NavBarContainer {
    display: flex;
    flex-direction: column;
  }

  .Navbar {
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3%;
  }

  h1 {
    font-size: 28px;
  }
}
